/* grid stuff */
.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.header {
  grid-column: 1 / span 2;
}

.source-panel {
  grid-column: 1;
}

.results-panel {
  grid-column: 2;
}

/* other stuff */
.center {
  text-align: center;
}

.source-panel,
.results-panel {
  border: 1px solid black;
}

.results-panel {
  border-left: 0;
}
